*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(199, 19, 19);
    
}
.header{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    width: 300px;
    margin: 250px auto;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px blue;
}
.header h1{
    margin: 15px auto;
    width: 150px;
    padding: 5px 10px;
    background: lightblue;
    border-radius: 20px;
    
}
.header label{ 
    font-weight: bold;
    margin-top: 10px 0;    
}
.header button{
    border: none;
    font-weight: 700;
    color: gray;
    padding: 10px;
    background: greenyellow;
    width: 150px;
    border-radius: 20px;
    margin: 5px auto;
}
.header input{
    width: 180px;
    margin: 10px auto;
}
.header p {
    margin: 15px;
}